@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.bg-primary-dark {
  background-color: #1c2536;
}

.bg-primary {
  background-color: #6366f1;
}

.text-primary-dark {
  color: #111927;
}

.text-primary {
  color: #6366f1;
}
